<!DOCTYPE html>
<html>
<head>
	<title>Predict-O-Matic</title>
</head>
<body>
	<form action="/submit">
		<p>
			<label for="OverallQual">Overall House Quality</label><br>
			<input type="number" name="OverallQual">
		</p>
		<p>
			<label for="FullBath">Number of Full Bathrooms</label><br>
			<input type="number" name="FullBath">
		</p>		
		<p>
			<label for="GarageArea">Garage Area</label><br>
			<input type="number" name="GarageArea">
		</p>
		<p>
			<label for="LotArea">Lot Area</label><br>
			<input type="number" name="LotArea">
		</p>
		<p><button type="submit">Submit</button></p>
	</form>
</body>
</html>